

body, header, nav, section, footer {
	/* border: 1px solid rgb(227, 0, 237); */
	/* text-align: center; */
	font-family: 'Josefin Sans', sans-serif;
}

body {
	/* hides bottom scroll bar */
	/* overflow-y: scroll; */
	overflow-x: hidden;
	margin: 0px;
	background: rgb(192, 96, 20);
}

header {
	height: 100px;
	background: rgb(192, 96, 20);
}

li {
	display: inline;
}

section {
	/* height: 525px; */
	/* no height defaults to
	the size of the divs within
	as long as it's relative
	positioning...
	 */
	object-fit: fill;
	min-height: 662px;
	background: saddlebrown;
	margin: auto;
	width: 95%;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
}

footer {
	height: 40px;
	text-align: center;
	color: white;
	font-style: italic;
	background: rgb(192, 96, 20);
	position: relative;
}

input {
	height: 25px;
	border: rgb(0, 0, 0);
}

span {
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	letter-spacing: 2px;
	color: white;
	/* font-size: 24px; */
}

h2 {
	font-size: 35px;
	font-weight: 100;
	/* font-family: 'Abel', sans-serif; */
}


/* ids */

#createAccH2 {
	color: saddlebrown;
}

#logo {
	width: 260px;
	height: 55px;
	top: 27px;
	left: 20px;
	float: left;
	position: absolute;
}

#line {
	width: 100%;
	height: 0px;
	background: white;
	position: relative;
}

#loginForm {
	width: 300px;
	height: 80px;
	float: right;
	top: 10px;
	display: inline-block;
	position: relative;
	right: 24px;
}

#passInput {
	left: 6px;
	position: relative;
}

#emailSpan, #passSpan {
	position: relative;
	font-size: 15px;
}

#submitButton {
	border-radius: 10%;
	background-color: rgb(192, 96, 20);
	color: white;
	border: rgb(0, 0, 0);
	width: 100px;
	height: 25px;
	position: relative;
	top: -2px;
	left: 77px;
	font-size: 19px;
	font-family: "Avant Garde", Avantgarde, "Century Gothic",
	CenturyGothic, AppleGothic, sans-serif;
}

#homeimg {
	width: 50%;
	/* height: 518px; */
	height: 100%;
	position: relative;
	opacity: 0.9;
}

#createAccForm {
	margin: auto;
	width: 422px;
	position: relative;
	top: 10%;
}

#createAccForm input {
	position: relative;
	left: 58px;
	width: 300px;
	top: 2px;
}

#rightSide {
	position: relative;
	width: 50%;
	height: 100%;
	float: right;
	background: white;
}

#create {
	border-radius: 5px;;
	background-color: saddlebrown;
	color: white;
	border: rgb(0, 0, 0);
	width: 100px;
	height: 30px;
	position: absolute;
	top: 77px;
	left: 1185px;
	font-size: 20px;
	font-family: "Avant Garde", Avantgarde, "Century Gothic",
	CenturyGothic, AppleGothic, sans-serif;
}

#topLinks {
	width: 50%;
	float: right;
	position: relative;
	top: 40px;
	height: 25px;
}

#topLinks ul {
	position: relative;
	text-align: center;
	margin: auto;
}

#topLinks ul li a {
	text-decoration: none;
	word-spacing: 20px;
	color: white;
}

#lineBottom {
	width: 100%;
	height: 1px;
	background: rgb(192, 96, 20);
	position: relative;
}

#logout {
	color: rgb(237, 219, 205);
}

/* temporary
div {
	 background: lightskyblue;
	position: relative;
	border: 1px solid black;
}
*/

#pagePic {
	width: 100%;
	/* height: 366px; */
	margin: auto;
	color: white;
	background: #975220;
	text-align: center;
}

#title {
	margin: auto;
	width: 95%;
	height: 100px;
	color: white;
}

#titleWord {
	margin: auto;
	font-size: 45px;
	text-align: center;
	border-bottom: 1px solid white;
	width: 60%;
}

/* parts in content */
#ingredients, #malting, #mashing, #boiling,
#fermentation, #bottling, #questionsTitle,
#overview {
	color: white;
	margin: auto;
	position: relative;
	text-align: center;
	background: #975220;
	width: 40%;
}

#questions {
	background: #975220;
	min-height: 650px;
	margin: auto;
	width: 95%;
	color: white;
}

#barley {
	color: white;
	margin: auto;
	position: relative;
	text-align: center;
}

#harvested {
	text-align: center;
	font-family: inherit;
}

#content {
	margin: auto;
	width: 95%;
	/* overflow: auto; */
	color: white;
	/* border: 1px solid rgb(192, 96, 20); */
}

#space {
	height: 25px;
}

/* color theme:

pastel peach (237, 219, 205)
ochre	  	 (192, 96, 20)
black		 (0, 0, 0)
cool grey	 (206, 206, 206)

*/

p {
	text-indent: 50px;
	word-spacing: 2px;
	font-size: 20px;
	text-align: justify;
}


#part {
	/* same size as images */
	min-height: 250px;
}

#profileInfo {
	min-height: 250px;
	font-size: 35px;
	text-indent: 0px;
	word-spacing: 0px;
	text-align: center;
}

#processPic {
	width: 550px;
	position: relative;
}

/* IMAGES */

#barleyIMG {
	width: 250px;
	height: 250px;
	float: left;
}

#waterIMG {
	width: 250px;
	height: 250px;
	float: right;

}

#hopsIMG {
	width: 250px;
	height: 250px;
	float: left;
}

#yeastIMG {
	width: 250px;
	height: 250px;
	float: right;
}

/* types page images */

#guinnessIMG, #bluemoonIMG, #samueladamsIMG,
#heinekenIMG, #coronaIMG, #stellaIMG, #budweiserIMG,
#sierraIMG, #yuenglingIMG, #hoegaardenIMG,
#pilsnerIMG, #pbrIMG, #coorsIMG, #stoneIMG,
#rockIMG, #profileIMG {
	width: 250px;
	height: 250px;
	float: left;
}

/*
#imgTEXT {
	margin-left: 39px;
	padding: 0px;
	word-spacing: 212px;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	letter-spacing: 2px;
}
*/

input {
	border: 1px solid saddlebrown;
}

#websiteName {
	font-family: 'Tangerine', cursive;
	width: 100px;
	margin: 0px;
	font-size: 52px;
	position: relative;
	top: 24px;
	float: left;
	color: white;
}

a {
	text-decoration: none;
	color: white;
}

#video {
	text-align: center;
}

/* 		// fonts: //

font-family: 'Abel', sans-serif;
font-family: 'Pompiere', cursive;

 */

#privacyContent {
	width: 90%;
	margin: auto;
	font-size: 25px;
	text-align: justify;
	position: relative;
	top: 25px;
	margin-bottom: 100px;
	color: white;
	font-family: inherit;
	letter-spacing: 2px;
}

#privacyTitle {
	text-align: center;
}

#selectItBABY {
	width: 200px;
	height: 40px;
	border: 4px solid black;
	font-size: 25px;
	color: white;
	margin: auto;
	background: rgb(151, 82, 32);
}

#Q1, #Q2, #Q3, #Q4 {
	position: relative;
	margin: auto;
	text-align: center;
	width: 90%;
}

#typesPic {
	width: 808px;
	position: relative;
}

#historyPic {
	width: 650px;
	position: relative;
}

#typesPart {
	text-indent: 0px;
	font-family: monospace;
	font-size: 30px;
	min-height: 270px;
}
/*	this beautiful css restricts users to
	select anything with the class
	name: "unselectable"
	// Example:   class="unselectable"
 */

*.unselectable {
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


#profileIMG {
	border: 1px solid white;
}

#profPic {
	font-size: 20px;
	background: saddlebrown;
	border: navajowhite;
	color: #d4d4d4;
}

#donutchart {
	margin: auto;
}

#selectFavBeer {
	text-align: center;
	font-size: 22px;
	word-spacing: 20px;
}

#saveButton {
	border-radius: 5px;
	background-color: #613e27;
	color: white;
	border: rgb(0, 0, 0);
	width: 100px;
	height: 35px;
	font-size: 20px;
	font-family: "Avant Garde", Avantgarde,
	"Century Gothic", CenturyGothic,
	AppleGothic, sans-serif;
}

#deleteButton {
	background: saddlebrown;
	width: 195px;
	text-align: center;
	position: relative;
	margin: auto;
	border-radius: 5px;
	color: white;
	border: rgb(0, 0, 0);
	height: 35px;
	font-size: 20px;
	font-family: "Avant Garde", Avantgarde,
	"Century Gothic", CenturyGothic,
	AppleGothic, sans-serif;
}

#beerVotesTable {
	color: white;
	font-size: 30px;
	font-family: inherit;
	margin: auto;
	height: 350px;
	text-align: center;
}

#percTH {
	width: 200px;
}

#noSpace {
	word-spacing: 0px;
}

#tea {
	 margin: auto;
	 text-align: center;
 }